# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.pyre/
.ruff_cache/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/
.venv/
venv/
ENV/
env/
.env
.env.*

# Editors and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and text files
*.log
*.txt

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.webp
*.svg
*.ico
*.avif
*.heic


*.pth
*.json